<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать задачу</title>
    <link th:replace="~{layout :: style_layout}">
    <link th:replace="~{fragments/notification :: style_notification}">
    <link rel="stylesheet" th:href="@{/css/editTask.css}" type="text/css">
</head>
<body>
    <div th:replace="~{layout :: sidebar}"></div>
    <div th:replace="~{fragments/notification :: notification}"></div>

    <div class="content">
        <h1>Редактирование задачи</h1>
        <div th:if="${messageFile}" class="message" id="messageFile">
            <p th:text="${messageFile}"></p>
            <!-- Сообщение ошибки в случае, когда файл не выбран -->
        </div>
        <form th:action="@{/tasks/{id}/edit(id=${task.taskId})}" th:object="${task}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="statusId">Статус:</label>
                <select id="statusId" th:field="*{statusId}" required>
                    <option 
                    th:each="value : ${task_status}"
                    th:text="${value.getStatusName()}"
                    th:value="${value.getStatusId()}"
                    th:selected="${value.getStatusId()} == ${task.statusId.statusId}">Список статусов задач</option>
                </select>
            </div>
            <div class="form-group">
                <label for="taskName">Имя задачи:</label>
                <input type="text" id="taskName" th:field="*{taskName}" required/>
            </div>
            <div class="form-group">
                <label for="startDate">Дата начала:</label>
                <input type="date" id="startDate" th:field="*{startDate}" required/>
            </div>
            <div class="form-group">
                <label for="endDate">Дата конца:</label>
                <input type="date" id="endDate" th:field="*{endDate}" required/>
            </div>
            <div class="form-group">
                <label for="createdBy">Создатель:</label>
                <select id="createdBy" th:field="*{createdBy}" required>
                    <option
                    th:each="value : ${employee}"
                    th:text="${value.getLastName() + ' ' + value.getFirstName()}"
                    th:value="${value.getEmployeeId()}"
                    th:selected="${value.getEmployeeId()} == ${task.createdBy.employeeId}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="responsible">Ответственный:</label>
                <select id="responsible" th:field="*{responsible}" required>
                    <option
                    th:each="value : ${employee}"
                    th:text="${value.getLastName() + ' ' + value.getFirstName()}"
                    th:value="${value.getEmployeeId()}"
                    th:selected="${value.getEmployeeId()} == ${task.responsible.employeeId}"></option>
                </select>
            </div>
            <div class="buttons">
                <button type="button" class="back-button" onclick="window.location.href='/tasks'">Назад</button>
                <button type="submit">Сохранить изменения</button>
            </div>
            <input type="hidden" th:field="*{parentTasks}">
            <input type="hidden" th:field="*{taskId}"
        </form>
    </div>

    <script src="/js/editTask.js"></script>
</body>
</html>
