<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать задачу</title>
    <link rel="stylesheet" th:href="@{/css/newTask.css}" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Создание задачи</h1>
        <div th:if="${messageFile}" class="message" id="messageFile">
            <p th:text="${messageFile}"></p> 
            <!-- Сообщение ошибки в случае, когда файл не выбран -->
        </div>
        <form th:action="@{/tasks/new}" th:object="${task}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="statusId">Статус:</label>
                <select id="statusId" th:field="*{statusId}" required>
                    <option 
                    th:each="value : ${task_status}"
                    th:text="${value.getStatusName()}"
                    th:value="${value.getStatusId()}"
                    th:selected="${value.statusId==0}">Список статусов задач</option>
                </select>
            </div>
            <div class="form-group">
                <label for="taskName">Имя задачи:</label>
                <input type="text" id="taskName" th:field="*{taskName}" required/>
            </div>
            <div class="form-group">
                <label for="startDate">Дата начала:</label>
                <input type="date" id="startDate" th:field="*{startDate}" required/>
            </div>
            <div class="form-group">
                <label for="endDate">Дата конца:</label>
                <input type="date" id="endDate" th:field="*{endDate}" required/>
            </div>
            <div class="form-group">
                <label for="createdBy">Создатель:</label>
                <select id="createdBy" th:field="*{createdBy}" required>
                    <option
                    th:each="value : ${employee}"
                    th:text="${value.getLastName() + ' ' + value.getFirstName()}"
                    th:value="${value.getEmployeeId()}"
                    th:selected="${value.employeeId==0}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="responsible">Ответсвенный:</label>
                <select id="responsible" th:field="*{responsible}" required>
                    <option
                    th:each="value : ${employee}"
                    th:text="${value.getLastName() + ' ' + value.getFirstName()}"
                    th:value="${value.getEmployeeId()}"
                    th:selected="${value.employeeId==0}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="fileUpload">Добавить вложение:</label>
                <input type="file" multiple="multiple" id="fileUpload" name="fileUpload"/>
            </div>
            <div class="buttons">
                <button type="button" class="back-button" onclick="window.location.href='/'">Назад</button>
                <button type="submit">Создать задачу</button>
            </div>
            <input type="hidden" th:field="*{parentTasks}">
        </form>
    </div>
    <script src="/js/newTask.js"></script>
</body>
</html>